*{
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
-ms-box-sizing:border-box;
}
div{
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: 30px;
    padding: 35px 10px;
    position: relative;
    counter-increment: my-counter;
    box-shadow: 5px 5px 0 0 rgb(0, 162, 255)
               , -5px -5px 0 0 rgb(211, 4, 118) ;
}
div::before{
    content: counter(my-counter);
    position: absolute;
    background-color: black;
    color: white;
    top: -10px;
    right: 40px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
}
