table{
    width: 700px;
    margin-left: 350px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
td{
    background-color: #EEE;
    border-spacing: 1px;
    text-align: center;
}
thead td{
    background-color: rgb(77, 76, 76);
    color: white;
    padding: 15px;
    font-weight: bold;
}
.v{
    background-color: rgb(107, 176, 255);
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px;
}
.d{
    background-color: rgb(240, 9, 116);
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px;
}